* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 500px;
    height: 700px;
    background-color: rgb(167, 167, 167);
    display: grid;
    grid-template: 
        "display display display display" 
        "ac c modulo divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero point equals equals";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    border: black solid 2px;
    border-radius: 10px;
}

#display {
    background-color: rgb(231, 231, 231);
    grid-area: display;
    margin-bottom: 10px;
    border: black solid 2px;
    border-radius: 10px;
}

#equals {
    grid-area: equals;
} 

button {
    border: black solid 2px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
}

button:hover {
    background-color: rgb(197, 197, 197);
}